 {% extends 'TSF_Bank/base.html' %}{% load static %} {% block title %}Home | Bank{% endblock %} {% block content %} 
      <br><br><br><br>
    <div class="container text-center  text-success ">
    
    <div class="jumbotron">
  <h1 class="display-4 text-success shadow p-3 mb-5 rounded">The Spark Foundation</h1>
  <p class="lead">Task #1 Basic Bank System</p>
  <hr class="my-4">
  <p>By Gaurav Raut.</p>
  <p class="lead">
    <a class="btn btn-primary btn-lg" href="/custinfo" role="button">View Customer</a>
  </p>
</div></div>
{% endblock %}